body{
    background-color: #ffe8df;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
form{
    width:50%;
    margin: auto;
    padding:3% 0 5%;
}
label{
    font-size:1.5rem;
}

/* navigation bar */

.navbar{
    background-color:#f3c623;
    padding:3% 5%;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size:2rem;
}


/* testimonial */

#testimonial{
    background-color: #844685;
}
.carousel-item{
    text-align:center;
}
.carousel-item img{
    width:100%;
}

/* sign in */

#membership{
    background-color: #844685;
    color:#ffe8df;
    position: relative;;
}
#membership a{
    
}

/* features */

.testimonial{
    padding:8% 7%;
    background-color: #ffe8df;
    text-align:center;
}
.far, .fas{
    color:#10375c;
    margin-bottom:10%;
}
.testimonial-heading{
    margin-bottom:7%;
}
.row{
    width:100%;
    margin:auto;
}
    @media (max-width:995px){
        .testimonial{
            padding:3% 5%;
        }
        .far, .fas{
            margin-bottom:5%;
        }
        .testimonial-heading{
            margin-bottom:3%;
        }
    }

/* trails */

#trails{
    padding:3% 3% 7%;
}
.trail-heading{
    text-align: center;
    margin-bottom:3%;
}
.trail-card{
    width:80%;
    margin:7% auto;
    padding:0;
    border: 1px solid rgba(0, 0, 0, .125);
}
    @media (min-width:995px){
        .trail-card{
            width:100%;
            margin:0 auto;
            height:100%;
        }
    }
.card-img-top{
    width:100%;
}
.intermediate{
    text-align:center;
    background-color: #f3c623;
}
.difficult{
    text-align:center;
    background-color: #10375c;
    color:#fff;
}
/* socialmedia links */

#socialmedialinks{
    background-color: #fff;
    text-align: center;
    padding:2%;
}
.fab{
    padding:2% 1%;
}
#socialmedialinks a{
    color:#343a40;
    padding:3% 1% 0;
}
