body{
    background-color:#f7f7f7;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color:#3797a4;
}

/*===================================================================================== 
                        navigation bar
=====================================================================================*/

.navbar{
    background-color:#3f3f44;
}
.navbar-brand{
    font-size: 3rem;
}

/*=====================================================================================
                        main-visual
=====================================================================================*/

#mainContent{
    background-color: #cceabb;
    padding:0 2%;
}

/* =====================================================================================
                        .book css selectors
=====================================================================================*/
.book{
    display: block;
    position:relative;
    text-align: center;
    margin:7% 5%; 
}
.book-name{    
    background-color:#3f3f44;
    padding:5%;
    margin-bottom:0;
    color:#f7f7f7;
}
.book-image{
    position:relative;
    width:100%; 
    border:1px solid grey;
    border-top:none;
    border-bottom:none;
}
.book-info{
    background-color:#f7f7f7;
    border:1px solid grey;
    border-top:none;
    border-bottom:none;
}
.book-author{
    text-decoration: underline;
    padding-top:7%;
}
.book-table{
    text-align:right;
    margin:auto;
    display:none;
}
    .showBook-table{
        display:inline-block;
    }
.book-category{
    padding:1% 0;
    margin-bottom: 0;
}
.book-price{
    padding:1% 0;
    margin-bottom: 0;
}
/* .book-rating{} */
.more-info{
    font-style: oblique;
}
    .more-info:hover{
        color:#007bff;
    }
a.buy-btn{
    border-radius:0;
    color:#3f3f44;
    font-weight: bold;
    width:100%;
    margin-bottom:1%;
}
    a.buy-btn:hover{
    color:#f7f7f7;
    }
