body{
    background-color:#f7f7f7;
}
.navbar{
    background-color:#3f3f44;
}
.navbar-brand{
    font-size: 3rem;
}


#mainContent{
    background-color: #cceabb;
}

.bookImage{
    width:30%;
    border:1px solid grey;
    padding:1%;
    margin:1.5%;
}