body{
    background-color: #f4f4f4;
}
.row div{
    padding:15px 2px;
    text-align:center;
    font-size: larger;
    font-weight: bolder;
    color:#fff;
}
.row div a{
    text-decoration: none;
    color:#fff;
}
.gamer{
    background-color:#7134FF ;
}
.designer{
    background-color:#AB57F6 ;
}
.chef{
    background-color:#F88657 ;
}
.photographer{
    background-color:#F6B352 ;
}
.hipster{
    background-color:#4EDB90 ;
}
.wierdo{
    background-color:#53E2D5 ;
}

/* nav */

.navbar-brand{
    font-family: 'Londrina Solid', cursive;
    color:black;
    font-size: 3rem;
    font-weight:900;
}
.nav-link{
    color:#7D7D7D;
}
.fa-bars{
    color:rgb(78, 75, 75);
    font-size: 2rem;
}

/* main-visual */
#main-visual .row{
    margin-top:70px;
}

#main-visual h1,h3{
    color: #343a40;
}
.emoji{
    position: relative;
    bottom:12px;
    width:80px;
}
.card-img-top{
    height:250px;
}

 /* Carousel  */
.container{
    margin:150px 0;
}
.carousel{
    width:65%;
    margin:auto;
}
.carousel-item{
    padding:50px 50px 50px 70px;
}
.carousel-item h1{
    font-weight: bolder;
    margin-bottom:2rem;
}
.image-author{
    text-align:right;
}
.testimonial-image{
    margin-top:2rem;
    border-radius:100%;
    width:50px;
}
.image-author em{
    vertical-align: -25px;
    display: inline-block;
}

/* cards */
.card{
    margin:auto;
    background-color:#f4f4f4;
}