body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth;
    font-family: 'Cousine', monospace;
    overflow-x: hidden;
}
h1{
    font-size: 2rem;
}
.cf::before,
.cf::after{
    content:".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear:both;
}
/* ==================================================================================
            HOME
===================================================================================*/
#home{
    background: url("../images/ratio16x9.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:100vh;
    position: relative;
    padding: 0;
    margin-bottom: 0;
}
    @media(max-width:800px){
        #home{
            background: url("../images/mobile version.jpg");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            height:100vh;
        }
    }

/* -----------Navigation-----------*/
nav{
    color: #fff;
    background: #000;
    padding: 0;
}
ul.navigation{
    float: right;
}
.navigation-item{
    list-style: none;
    float:left;
    text-transform: uppercase;
    font-weight: bold;
}
.navigation-item.animate__animated{
    animation-delay:1000ms;
}
.navigation-item a{
    color:#fff;
    text-decoration: none;
    padding:0 1.5rem;
}
.navigation-item a:hover{
    color:#fff;
    text-decoration: underline;
}
    @media(max-width:800px){
        nav{
            padding: 0;
        }
        ul.navigation{
            float: none;
            margin:auto;
            display: grid;
            padding: 0;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .navigation-item{
            display: block;
            float: none;
            padding:0.5rem 0;
        }
        .navigation-item a{
            color:#fff;
            text-decoration: none;
            padding:0 0.75rem;
        }
    }

/*------------ name and profile-------- */
.about{
    margin-top:45vh;
    width:420px;
    /* border: 1px solid pink; */
}
.name,.profile{
    display: block;
    margin: auto;
    padding: 0;
    text-transform: uppercase;
    background:#000;
    color: #fff;
}
.name{
    width:400px;
    font-size:2.6rem;
}
.profile{
    width:235px;
    margin-top:0.4rem;
    padding: 0;
}
    @media(max-width:890px){
        .about{
            width: 100%;
            margin-top: 85vh;
        }
        .name{
            width: 370px;
            font-size: 2.2rem;
        }
    }
    @media(max-width:800px){
        .about{
            width: 100%;
            margin-top: 70vh;
        }
    }

h1.animate__animated{
    animation-delay:2000ms;
}
h3.animate__animated{
    animation-delay: 2700ms;
}
/* ==================================================================================
            ABOUT
===================================================================================*/
#about{
    padding: 0;
    margin: 0;
    background:#000;
    color:#fff;
    position: relative;
}
#about::before{
    content:" ";
    display: block;
    height:10px;
}
.heading{
    text-transform: uppercase;
    margin:4rem auto;
    width:200px;
    border-bottom: 1px solid #fff;
    opacity:0;
}
table.info{
    display: block;
    padding: 0;
    width: 80%;
    margin:auto;
    height:80vh;
}
.info th{
    text-transform: capitalize;
    font-size:1.4rem;
    margin:auto 1%;
    padding:5% 2% 3%;
    opacity: 0;
}
.info td{
    font-size: 1.15rem;
    opacity:0;
    padding:5% 2%;
}
.info td a{
    color:#fff;
} 
    @media(max-width:890px){
        table.info{
            height: 60vh;
        }
        .info th{
            font-size:1rem;
        }
        .info td{

            font-size: 0.75rem;
        }
    }    
    @media(max-width:800px){
        .heading{
            font-size: 1.5rem;
            width:150px;
        }
        table.info{
            width:100%;
            height:auto;
        }
        .info th,.info td{
            padding:7% 1%;
        }
        .info th{
            font-size:0.75rem;
        }
        .info td{
            font-size:0.5rem;
        }
    }    
