body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth;
    font-family: 'Cousine', monospace;
    overflow-x: hidden;
}
h1{
    font-size: 2rem;
}
.cf::before,
.cf::after{
    content:".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear:both;
}
/* ==================================================================================
            HOME
===================================================================================*/
#home{
    background: url("../images/PSX_20200620_093428.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:100vh;
    position: relative;
    padding: 0;
    margin-bottom: 0;
}

/* -----------Navigation-----------*/
nav{
    color: #fff;
    background: #000;
}
ul.navigation{
    float: right;
}
.navigation-item{
    list-style: none;
    float:left;
    text-transform: uppercase;
    font-weight: bold;
}
.navigation-item a{
    color:#fff;
    text-decoration: none;
    padding:1rem 1.5rem;
}
.navigation-item a:hover{
    color:#fff;
    text-decoration: underline;
}

/*------------ name and profile-------- */
.about{
    margin-top:45vh;
    width:415px;
}
.name,.profile{
    display: block;
    margin: auto;
    padding: 0;
    text-transform: uppercase;
    background:#000;
    color: #fff;
}
.name{
    width:400px;
    font-size:2.6rem;
}
.profile{
    width:235px;
    margin-top:0.4rem;
    padding: 0;
}
@media(max-width:890px){
    .about{
        width: 100%;
        margin-top: 75vh;
    }
    .name{
        width: 370px;
        font-size: 2.2rem;
    }
}
h1.animate__fadeInUp{
    animation-delay:1150ms;
}
h3.animate__fadeInUp{
    animation-delay: 1950ms;
}
/* ==================================================================================
            ABOUT
===================================================================================*/
#about{
    padding: 0;
    margin: 0;
    background:#000;
    color:#fff;
}
#about::before{
    content:" ";
    display: block;
    height:10px;
}
#about h1{
    text-transform: uppercase;
    margin-bottom:6rem;
    opacity:0;
}
table.info{
    display: block;
    padding: 0;
    width: 80%;
    margin:auto;
}
.info th,.info td{
    padding:5% 2%;
}
.info th{
    text-transform: capitalize;
    font-size:1.4rem;
    opacity: 0;
}
.info td{
    font-size: 1.15rem;
    opacity:0;
}
.info td a{
    color:#fff;
} 
    @media(max-width:890px){
        table.info{
        
        }
        .info th{
            font-size:1rem;
        }
        .info td{

            font-size: 0.75rem;
        }
    }    
    @media(max-width:725px){
        .info th,.info td{
            padding:3% 1%;
        }
        .info th{
            font-size:0.75rem;
        }
        .info td{
            font-size:0.5rem;
        }
    }    
